networkx==3.2  # For creating and manipulating graphs
pandas==1.5.3  # For storing results in CSV format
matplotlib==3.7.1  # For plotting runtime comparison graphs
numpy==1.24.3  # For numerical calculations
tabulate==0.9.0  # For formatting output in terminal tables
pytest==7.0.1  # For testing the code
pytest-cov==3.0.0  # For measuring code coverage
pytest-timeout==1.6.0  # For setting a timeout for tests
pytest-xdist==2.5.0  # For running tests in parallel

